body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #283136;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1160px;
}
.header {
  padding-top: 49px;
  /* Было 18 изменено до 11пикс. До согласования остается. */
  padding-bottom: 11px;
  background-color: #eeeeee;
}
.header_wrapper {
  display: flex;
  flex-direction: row;
  /* Пока убираю до согласования, связа со флекс гров- жадностью из навигации */
  /* justify-content: space-between; */
  align-items: center;
}
.nerds_logo {
  margin-right: 201px;
}
.nerds_logo:hover {
  opacity: 0.8;
}
.nerds_logo:active {
  opacity: 0.3;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* Пока убираю жадность, если будет подтверждено - будет удалено. Пробую без нее.  */
  /* flex-grow: 1; */
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0px;
}
.navigation li {
  list-style: none;
  margin-right: 45px;
  margin-top: 11px;
}
/* Убрано для упрощения но ухудлает пиксель перфект. */
/* 
.navigation li:nth-child(1) {
  margin-right: 45px;
}
.navigation li:nth-child(2) {
  margin-right: 48px;
}
.navigation li:nth-child(3) {
  margin-right: 45px;
} */
.navigation li:last-child {
  margin-right: 0px;
}
.basket {
  position: relative;
  margin-left: 247px;
  margin-top: 11px;
}
.basket::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 27px;
  background-image: url("../img/image_decorative/basket_icon.svg");
  background-repeat: no-repeat;
  background-position: 2px 2px;
  /* background-color:; */
}

.navigation a, .basket {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #283136;
  text-transform: uppercase;
}
.navigation a:hover, .basket:hover {
  color: #fb565a;
}
.navigation a:focus, .basket:focus,
.navigation a:active, .basket:active {
  color: rgba(0, 0, 0, 0.3); 
}
.active_page {
  border-bottom: 2px solid #fb565a;
}
/*  */
.sliders {
  width: 1160px;
  height: 414px;
  background-color: black;
  /* display: none; */
}
.second {
  display: none;
}
.third {
  display: none;
}
.services {
  margin-top: 80px;
}
.services ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  padding-left: 0px;
}

.services_column {
  width: 300px;
}
.services li {
  list-style: none;
}
.services h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}
.button {
  /* padding: 15px 40px; */
  padding-top: 16px;
  padding-right: 39px;
  padding-bottom: 16px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
}
/* --------------------- */
.services_column::before {
  content: "";
  display: inline-block;
  width: 300px;
  height: 146px;
  margin-top: 7px;
  background-repeat: no-repeat;
  /* maybe left 84px bottom 35px but establish: */
  background-position: center;
}
.web_site::before {
  background-image: url(../img/image_decorative/advantage_picture_red_web_site.png);
  background-color: #fb565a;
}
.web_site p {
  width: 238px;
  word-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.services_column span {
  white-space: nowrap;
}
.applications::before {
  background-image: url(../img/image_decorative/advantage_picture_green_applications.png);
  background-color: #01ca78;
}
.applications p {
  width: 244px;
  margin-top: 15px;
  margin-left: 1px;
  word-spacing: 2px;
  margin-bottom: 45px;
}
.applications span {
  word-spacing: 1px;
}
.presentations::before {
  background-image: url(../img/image_decorative/advantage_picture_yellow_presentations.png);
  background-color: #efc849;
}
.presentations p {
  width: 213px;
  margin-top: 14px;
  margin-bottom: 46px;
}
.web_site .button {
  background-color: #fb565a;
}
.web_site .button:hover {
  background-color: #e74246;
}
.web_site .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
.applications .button {
  background-color: #00ca74;
}
.applications .button:hover {
  background-color: #00bc6c;
}
.applications .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
.presentations {
  margin-right: 60px;
}
.presentations .button {
  background-color: #efc84a;
}
.presentations .button:hover {
  background-color: #eab534;
}
.presentations .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}
/* 1 version line */
/* .line {
  width: 100%;
  height: 1px;
  color: #eeeeee;
  opacity: 0.2;
} */
.about_us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 78px;
  /* 2 version line */
  border-top: 2px solid #eeeeee;
  /*------------ maybe delete-------- */
  margin-bottom: 30px;
}
.about_us .column_left {
  max-width: 654px;
}
.about_us .column_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 360px;
}
.credo_header {
  margin-top: 75px;
  margin-bottom: 0px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}
.credo_text {
  display: inline-block;
  margin-top: 33px;
}
.credo h3 {
  margin-top: 23px;
  margin-left: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.credo ul {
  margin-top: 24px;
  margin-left: 36px;
  padding-left: 0px;
}
.credo li {
  position: relative;
  margin-bottom: 24px;
  list-style: none;
}
.credo li:before {
  position: absolute;
  top: 12px;
  left: -35px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fa565a;
}
.results {
  margin-top: 40px;
}
.results table {
  position: relative;
  width: 100%;
  margin-top: 38px;
  border-collapse: collapse;
}
.results th {
  /* margin-bottom: 10px; */
  padding-left: 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.results tr {
  line-height: 18px;
  /* padding: 10px; */
}
.results_progress td {
  /* margin-top: 49px; */
  padding-top: 44px;
  padding-bottom: 12px;
  /* padding-left: 2px; */
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}
.results_progress td:nth-child(2) {
  padding-left: 15px;
}
.results_progress td:nth-child(3) {
  padding-left: 21px;
}
.results_text td {
  padding-top: 8px;
}
.results_text td:nth-child(2) {
  padding-left: 16px;
}
.results_text td:nth-child(3) {
  padding-left: 21px;
}
.results_progress sup {
  padding-bottom: 20px;
  font-size: 26px;
}















.customer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-top: 45px;
  padding-bottom: 37px;
  margin: 16px 0px 0px 0px;
  margin-top: 16px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}
.customer li {
  position: relative;
  right: 17px;
  top: 1px;
}

.client_mishka {
  position: relative;
  left: 7px;
}
.client_mishka::after {
  display: none;
}
.customer li::after {
  content: "";
  /* display: inline-block; */
  position: absolute;
  /* align-self: center; */
  bottom: 23%;
  left: 246px;
  width: 2px;
  height: 51px;
  background-color: #eeeeee;
}
















/* Класс для не стилизованных отдельно элементов отменено до утверждения*/
/* .customer li {
  position: relative;
  padding-top: 50px;

  padding-left: 90px;
} */

/* .client_html_academy {
  padding-left: 31px;
  padding-top: 62px;
} */
/* .client_html_academy a::before {
  position: absolute;
  top: 64px;
  left: 279px;
  width: 2px;
  height: 52px;
  content: "";
  background-color: #eeeeee;
} */
/* .client_borodinski {
  padding-left: 96px;
  padding-top: 46px;
} */
/* .client_borodinski a::before {
  position: absolute;
  top: 64px;
  left: 349px;
  width: 2px;
  height: 52px;
  content: "";
  background-color: #eeeeee;
} */
/* .client_pink {
  padding-left: 103px;
  padding-top: 65px;
} */
/* .client_pink a::before {
  position: absolute;
  top: 64px;
  left: 344px;
  width: 2px;
  height: 52px;
  content: "";
  background-color: #eeeeee;
} */
/* .client_mishka {
  padding-left: 121px;
  padding-top: 52px;
} */

.footer_wrapper {
  display: flex;
  flex-direction: column;
}
.map {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 416px;
  /* margin: auto; */
  margin-top: 80px;
  background-image: url(../img/image_decorative/map_adress.jpg);
  
}
.contacts {
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 0px;
  padding-left: 50px;
  padding-top: 25px;
  width: 283px;
  min-height: 308px;
  background-color: #ffffff;
}
.contacts h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}
.contacts p {
  width: 201px;
  line-height: 18px;
  color: #666666;
}
.phone {
  margin-bottom: 52px;
}
.contacts .button {
  padding-right: 50px;
  background-color: #fb565a;
}
.social_offer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_network {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 260px;
  padding-left: 0px;
  list-style: none;
}
.social_network li {
  display: flex;
  align-self: center;
  width: 79px;
  height: 79px;
  margin-top: 27px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social_network a {
  margin: auto;
}
.offer p {
  /* margin-top: 49px;
  margin-right: 218px; */
  line-height: 22px;
  color: #444444;
}
.offer .title {
  margin-top: 46px;
  margin-right: 218px;
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.offer .text {
  margin-top: 11px;
  margin-right: 218px;
}
.main_big {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.main_head {
  margin-top: 0px;
  padding-top: 82px;
  padding-bottom: 116px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
.filter_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter {
  margin-right:  140px;
}
.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.filter li {
  line-height: 20px;
  list-style: none;
}
.sort {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.sort_switch {
  display: flex;
  flex-direction: row;
}
.sort_switch ul {
  display: flex;
  list-style: none;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards article {
  max-width: 360px;
}
.page_switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
    list-style: none;
}
.page_switch li   {
  margin-right: 11px;
}
.page_switch li:first-child   {
  padding-left: 0px;
}
.filter .button, .page_switch .button {
  color: #000000;
}
.filter .button:hover, .page_switch .button:hover {
  color: #000000;
  background-color: #dfdfdf;
}
.filter .button:focus, .page_switch .button:focus {
  color: #000000;
  border: 3px solid #dbdbdb;
}
.filter .button:active, .page_switch .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.wrapper a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.wrapper a:hover {
  color: #fb565a;
}
.wrapper a:active {
  color: rgba(0, 0, 0, 0.3);
}
.wrapper p {
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.wrapper .button {
  background-color: #fb565a;
}
.wrapper .button:hover {
  background-color: #e74246;
}
.wrapper .button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/* ----------------------- */
/* body {
  
  color: red; 
}
.navigation li a {
  color: red;
} */
/* 
margin-top: px;
margin-right: px;
margin-bottom: px;
margin-left: px;
padding-top: px;
padding-right: px;
padding-bottom: px;
padding-left: px; */


