body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #283136;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 1160px;
}
.header {
  padding-top: 49px;
  padding-bottom: 18px;
  background-color: #eeeeee;
}
.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nerds_logo {
  margin-right: 202px;
}
.nerds_logo:hover {
  opacity: 0.8;
}
.nerds_logo:active {
  opacity: 0.3;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}
.navigation li {
  list-style: none;
  margin-right: 45px;
}
.navigation li:last-child {
  margin-right: 0px;
}
.navigation a, .basket {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #283136;
  text-transform: uppercase;
}
.navigation a:hover, .basket:hover {
  color: #fb565a;
}
.navigation a:focus, .basket:focus,
.navigation a:active, .basket:active {
  color: rgba(0, 0, 0, 0.3); 
}
.active_page {
  border-bottom: 2px solid #fb565a;
}
.services {
  margin-top: 80px;
}
.services ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}
.services_column {
  width: 300px;
}
.services li {
  list-style: none;
}
.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #eeeeee;
  text-transform: uppercase;
}
.web_site .button {
  background-color: #fb565a;
}
.web_site .button:hover {
  background-color: #e74246;
}
.web_site .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
.applications .button {
  background-color: #00ca74;
}
.applications .button:hover {
  background-color: #00bc6c;
}
.applications .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
.presentations {
  margin-right: 60px;
}
.presentations .button {
  background-color: #efc84a;
}
.presentations .button:hover {
  background-color: #eab534;
}
.presentations .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}
.about_us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about_us .column_left {
  max-width: 654px;
}
.about_us .column_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 360px;
}
.credo_header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}
.credo h3 {
  font-weight: 700;
  color: #000000;
}
.credo li {
  list-style: none;
}
.results th {
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.results tr {
  line-height: 18px;
}
.results_progress {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
}
.customer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 124px;
  margin-bottom: 126px;
  list-style: none;
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
}
.map {
  display: flex;
  flex-direction: row;
  margin: auto;
  min-width: 1440px;
  min-height: 416px;
}
.contacts {
margin-top: 54px;
margin-bottom: 54px;
min-width: 319px;
min-height: 308px;
}
.contacts h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}
.contacts p {
  line-height: 18px;
  color: #666666;
}
.contacts .button {
  background-color: #fb565a;
}
.social_offer_wrapper {
  display: flex;
  justify-content: space-between;
}
.social_network {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  list-style: none;
}
.social_network li {
  width: 79px;
}
.social_network li:first-child {
  padding-left: 0px;
}
.offer p {
  line-height: 22px;
  color: #444444;
}
.offer .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.main_big {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.main_head {
  margin-top: 0px;
  padding-top: 82px;
  padding-bottom: 116px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
.filter_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter {
  margin-right:  140px;
}
.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.filter li {
  line-height: 20px;
  list-style: none;
}
.sort {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.sort_switch {
  display: flex;
  flex-direction: row;
}
.sort_switch ul {
  display: flex;
  list-style: none;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards article {
  max-width: 360px;
}
.page_switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
    list-style: none;
}
.page_switch li   {
  margin-right: 11px;
}
.page_switch li:first-child   {
  padding-left: 0px;
}
.filter .button, .page_switch .button {
  color: #000000;
}
.filter .button:hover, .page_switch .button:hover {
  color: #000000;
  background-color: #dfdfdf;
}
.filter .button:focus, .page_switch .button:focus {
  color: #000000;
  border: 3px solid #dbdbdb;
}
.filter .button:active, .page_switch .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.wrapper a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.wrapper a:hover {
  color: #fb565a;
}
.wrapper a:active {
  color: rgba(0, 0, 0, 0.3);
}
.wrapper p {
  line-height: 18px;
  text-align: center;
  color: #666666;
}
.wrapper .button {
  background-color: #fb565a;
}
.wrapper .button:hover {
  background-color: #e74246;
}
.wrapper .button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
